/* DIRECTORY STYLING */

/* HEADER & NAVIGATION */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(237, 232, 232);
    padding: 20px 40px;
}

.menu{
    display: flex;
    padding: 5px;
    align-items: center;
    font-size: x-large;
    font-weight: bolder;
    gap: 15px;
}

.active{
    background-color: #B8AAAA;
    border: 1px solid #B8AAAA;
    border-radius: 7px;
    padding: 3px 30px;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 5px 20px;
    margin: 0;
}

nav a{
    text-decoration: none;
    color: #000;
    font-size: x-large;
    font-weight: bolder;
}

nav a:hover{
    background-color: #B8AAAA;
    border: 1px solid #B8AAAA;
    border-radius: 7px;
    padding: 3px 30px;
}

#menu-button{
    display: none;
}

/* BODY AND MAIN */
main{
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    column-gap: 40px;
}

h1{
    font-size: xx-large;
    padding: 10px;
}

.btn{
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-bottom: 30px;
}

#grid{
    width: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    background-color: #FFF8DC;
}

#list{
    width: 100px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px 15px;
    text-align: center;
    background-color: #FFF8DC;
}

#businessCards{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    align-items: center;
    gap: 15px;
}

#title{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: xxx-large;
    color: #000;
}

#businessCards .course-card{
    font-weight: 500;
    gap: 5px;
}

.course-card img{
    width: 60%;
}

#businessCards section{
    border: 1px solid #000;
    padding: 15px;
    background-color: #FFF8DC;
    width: 100%;
}

#businessCards h4{
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}

section{
    text-align: center;
}

section img{
    max-width: 100%;
    height: 100px;
    padding-top: 10px;
}

#grid:hover, #list:hover{
    cursor: pointer;
    background-color: rgb(69, 69, 220);
}

/* GRID VIEW */

/* LIST VIEW */
#businessCards.list{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.list .course-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    font-size: large;
}

.list .course-card img{
    display: none;
}

/* FOOTER */
footer{
    display: flex;
    justify-content: space-around;
    background-color: rgb(237, 232, 232);
    padding: 20px 40px;
}

.icons{
    display: flex;
    justify-content: center;
    gap: 50px;
}

@media (min-width: 960px) {
    #businessCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .hero{
        position: relative;
    }

    .hero img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.hero-content{
    position: absolute;
    font-size: x-large;
    text-align: left;
    bottom: 10%;
    left: 5%;
    color: #fff;
    line-height: 40px;
}

.hero-content a{
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(69, 69, 220);
    border-radius: 5px;
    background-color: rgb(69, 69, 220);
    padding: 4px 10px;
}

.events{
    width: 100%;
}

.events h2{
    font-size: xx-large;
    padding: 15px;
    text-align: left;
}

.events-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
}

.event-container{
    border: 1px solid rgb(237, 232, 232);
    padding: 10px;
    background-color: rgb(237, 232, 232);
    text-align: left;
}

.event-container a{
    text-decoration: none;
}

.event-container img{
    width: 100%;
    display: block;
}

#spotlightCards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 15px;
}

.spotlight-content{
    border: 1px solid rgb(237, 232, 232);
    padding: 10px;
    background-color: rgb(237, 232, 232);
    text-align: left;
}

.spotlight-content img{
    width: 100%;
}

#weather{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    font-size: larger;
}

#weather h2{
    margin-bottom: 20px;
    grid-column: 1/3;
}

.current-weather, .forecast{
    padding: 40px;
    
}

.current-weather{
    grid-column: 1;
    border-right: 3px solid rgb(237, 232, 232);
    line-height: 40px;
}

.forecast{
    grid-column: 2;
}

#forecast-container{
    display: flex;
    flex-direction: column;
    line-height: 70px;
    font-size: larger;
}

/* JOIN PAGE STYLING */
.join-header{
    text-align: center;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    font-size: xxx-large;
    background-color: #B8AAAA;
}

.join{
    text-align: center;
    border-bottom: 1px solid #000;
}

.table{
    display: flex;
    flex-direction: column;
    line-height: 45px;
    background-color: rgb(237, 232, 232);
    padding: 20px;
}

input, select{
    padding: 5px;
    background-color: #fff;
}

main{
    max-width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.membership-card{
    border: 1px solid rgb(237, 232, 232);
    border-radius: 6px;
    border-bottom: 2px solid #000;
    padding: 20px;
    background-color: #B8AAAA;
    text-align: left;
    line-height: 25px;
}

.membership-card a{
    text-decoration: none;
    font-size: large;
}
.membership-levels{
    background-color: rgb(237, 232, 232);
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

#submit{
    cursor: pointer;
    background-color: #B8AAAA;
    padding: 10px;
}

#submit:hover{
    background-color: #898080;
}

.larger{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
    gap: 100px;
    margin-bottom: 30px;
}

/* DIALOG STYLING */
dialog {
    width: 90%;
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border: 3px solid #000;
    border-radius: 10px;
    font-size: large;
    line-height: 40px;
}

dialog h2{
    font-size: xx-large;
    padding-bottom: 15px;
    border-bottom: 2px solid #000;
}

dialog::backdrop{
    background-color: rgba(0, 0, 0, 0.5);
}

button{
    float: right;
    font-size: 20px;
    padding: 5px;
}

button{
    cursor: pointer;
}

button:hover{
    background-color: #D8CECE;
}

/* ANIMATION */
.membership-card{
    animation: appear 1s ease-in-out;
}

.card1{
    animation-delay: 0s;
}

.card2{
    animation-delay: 0.2s;
}

.card3{
    animation-delay: 0.4s;
}

.card4{
    animation-delay: 0.6s;
}

@keyframes appear{
    from{
        opacity: 0;
        transform: translateY(20px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* THANK YOU PAGE STYLING */

.thankyou {
    max-width: 700px;
    margin: 30px auto;
    padding: 30px;
    background-color: #EDE7E7;
    text-align: center;
    border: 1px solid #999;
}

.thankyou h1 {
    margin-bottom: 15px;
}

.thankyou h2 {
    margin: 25px 0 15px;
}

#form-information {
    background-color: white;
    padding: 20px;
    text-align: left;
}

#form-information p {
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ddd;
}
}